set timeout=20
set default=0

menuentry "PatiOS-OpenKernelBased 1.0" {
    multiboot /boot/OpenKernel.bin
    boot
}

menuentry "About PatiOS-OpenKernelBased 1.0" {
    echo "PatiOS-OpenKernelBased 1.0 - An experimental operating system developed by OpenSoftware-World and mehmetdemir-tr"
    echo "This is a minimal kernel environment with shell and drivers."
    echo "Have fun exploring!"
    sleep 10 
}

menuentry "UEFI Firmware Settings" {
    fwsetup
    echo "This option requires EFI mode."
}